<div class="container bg-light">
    <section class="jumbotron my-3">
        <div class="row">
            <div class="col-4 py-3 px-4">
                <div class="text-center container">
                    <h3><i class="fas fa-user-astronaut mr-2"></i> {{usr?.UsrNickName}}</h3>
                    <hr class="mb-3">

                    <img src="assets/img/perfil_icon.png" alt="perfil"
                        style="width: 17rem; display: block; margin: auto;">

                    <h4 class="my-3"><span>Datos de "{{usr?.UsrName}}": </span></h4>
                    <hr>
    
                    <p><span>Email:</span> {{usr?.UsrEmail}}</p>
                </div>
            </div>

            <div class="col-6">
                <table class="table my-4">
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Track</th>
                            <th>Preview</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr *ngFor="let track of trackList">
                            <td class="w-25">
                                <img [src]="track.album.images | noImage"
                                class="img-thumbnail w-75">
                            </td>
                            <td><p>{{track.name}}</p></td>
                            <td>
                                <iframe [src]="track.uri | secureDOM" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>