.nav-link:hover {
    background-color: rgba(255, 68, 0, 0.65) !important
}

.nav-link .fa,
.nav-link .fas {
    transition: all 1s
}

.nav-link:hover .fa,
.nav-link:hover .fas {
    transform: rotate(360deg)
}

.active {
    background-color: orangered !important;
}