<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px">
    <a href="/" class="
    d-flex
    align-items-center
    mb-3 mb-md-0
    me-md-auto
    text-white text-decoration-none
    ">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4"> <i class="fas fa-icons"></i> BU-Tify</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a  [routerLink]="['/home']" class="nav-link active" aria-current="page">
                <i class="fa fa-home"></i><span class="ms-2">Home</span>
            </a>
        </li>
        <li (click)="showSearch()" class="search">
            <a class="nav-link text-white">
                <i class="fas fa-search"></i><span class="ms-2">Search</span>
            </a>
        </li>
        <li *ngIf="bandSearch">
            <app-search></app-search>
        </li>
        <li>
            <a class="nav-link text-white" (click)="goToUsr()">
                <i class="fa fa-first-order"></i><span class="ms-2">My Playlists</span>
            </a>
        </li>
        <li>
            <a class="nav-link text-white" (click)="showModalPub()">
                <i class="fas fa-quote-left"></i><span class="ms-2">Write Post</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-info-circle"></i><span class="ms-2">Project Info</span>
            </a>
        </li>
    </ul>
    <hr />
    <div class="dropdown">
        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" (click)="showDropDown()">
            <img src="assets/tests/koala.jpg" alt="user image" width="32" height="32" class="rounded-circle me-2" />
            <strong> {{usrname}} </strong>
        </a>
    </div>
</div>

<div id="dropdown" class="animate__animated animate__flipInX" *ngIf="bandDropwdown">
    <ul class="dropdown-list" aria-labelledby="dropdownUser1">
        <li><a class="" href="#">Profile</a></li>
        <li><a class="" href="#">Settings</a></li>
        <hr>
        
        <li><a class="" (click)="logOut()">Sign out</a></li>
    </ul>
</div>

<div class="modal-comment bg-dark" *ngIf="bandShowPubModal">
    <div class="container">
        <h5 class="text-center">Express yourself</h5>
        <hr>
        <textarea name="pubBody" #pubBody></textarea>
        <br>
        <div class="row">
            <div class="col-6 px-2">
                <button class="btn btn-light btn-block" (click)="addPost(pubBody.value)">Send</button>
            </div>
            <div class="col-6 px-2">
                <button class="btn btn-light btn-block col-6" (click)="bandShowPubModal = false">Return</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>