.nav-link:hover {
    background-color: rgba(255, 68, 0, 0.65) !important
}

.nav-link .fa,
.nav-link .fas {
    transition: all 1s
}

.nav-link:hover .fa,
.nav-link:hover .fas {
    transform: rotate(360deg)
}

.active {
    background-color: orangered !important;
}

.search {
    cursor: pointer;
}

.search:hover {
    animation-name: search-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
}

@keyframes search-animation {
    0%   {margin-bottom: 0.8rem;}
    25%  {margin-bottom: 1.5rem;}
    50%  {margin-bottom: 1.8rem;}
    100% {margin-bottom: 1.5rem;}
}

a {
    cursor: pointer;
}

#dropdown {
    width: 200px;
    height: 80px;
    border-radius: .6rem;

    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    top: 78%;
    left: 2%;
    z-index: 100;
}

.dropdown-list li {
    list-style: none;
    width: 100%;
    margin-left: 0 !important;
    padding: 0.25rem;
    border-radius: .6rem;
    transition: all .3s ease-in-out;
}

.dropdown-list li:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.dropdown-list li a {
    color: black;
    text-decoration: none;
}

.modal-comment {
    width: 250px;
    height: 18rem;

    position: fixed;
    top: 42%;
    left: 0%;

    border-radius: 0.5rem;
    padding: 1rem;
    align-content: center;
    text-align: center;
}

.modal-comment > .container h5 {
    color: white;
}

.modal-comment > .container hr {
    color: white;
    height: 0.15rem;
}

.modal-comment > .container textarea {
    width: 95%;
    height: 10rem;
    border-radius: 0.2rem;

    margin-bottom: 1rem;
    padding: 0.5rem;
    color: orangered;
}

.row {
    align-content: center;
    text-align: center;
}

.btn-block {
    width: 100% !important;
}