@import url(../../app.component.css);

.container {
    padding-top: 3.5rem !important;
    padding-left: 6.5rem !important;
}

h3 {
    color: white;
}

a {
    color:orangered;
}

th, td {
    color: white;
}

th {
    text-align: center;
}

td {
    align-items: center;
    text-align: center;
}

.add {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    margin-top: 1rem;
}

p {
    margin-top: 3rem;
}

iframe {
    margin-top: 2rem;
}